@font-face {
  font-family: 'ProfileFont';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Profilfont-Regular-Web.woff2') format('woff2'),
       url('/fonts/Profilfont-Regular-Web.woff') format('woff');
}