@import "./sass/utilities";
@import "./sass/reset";
@import "./sass/variables";
@import "./sass/typography";

:root {
  font-family: ProfileFont, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--clr-white);
}
